body {background: rgb(177, 223, 235);
    display:flex;
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    font-family:Arial,Trebuchet MS;
    border:1px solid rgb(42, 33, 170);
    flex-direction: column;
    height: fit-content;
    text-align: center;
    color:rgb(3, 0, 0);
}


a:link {
    color:blue
}
a:visited {
    color:rgb(50, 86, 128)
}

a:focus {
    color:blueviolet
}
/* kommentti */
a:hover {
    color:rgb(42, 120, 236)
}
a:active {
    color:red
}

input[type="submit"]:hover {
    background-color: rgb(172, 15, 159);
  }


.varjo {
    text-shadow: 2px 2px #d2df1c;
}

  footer {
        background: rgb(92, 92, 243);
        color: black
        text-align:center;
  }

  <style>
    div.example {
       padding: 20px;
    }
    
    @media screen and (max-width: 800px) {
      div.example {
        display: none;
      }
    }
    </style>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }

  table { margin : 0 auto; }
 
  
  td, th {
    border: 1px solid #6e70ee;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #6696f0;
  }
  </style>