body {background: rgb(177, 223, 235);
    display:flex;
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    font-family:"Arial", Trebuchet MS;
    border:1px solid rgb(42, 33, 170);
    flex-direction: column;
    height: fit-content;
    text-align: center;
    color:rgb(3, 0, 0);
}

a:link {
    color:blue
}
a:visited {
    color:rgb(50, 86, 128)
}

a:focus {
    color:blueviolet
}

a:hover {
    color:rgb(42, 120, 236)
}
a:active {
    color:red
}

input[type="submit"]:hover {
    background-color: rgb(172, 15, 159);
  }


